<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Make Preparação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-searchbar color="danger"></ion-searchbar>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://60193.cdn.simplo7.net/static/60193/sku/face-bases-base-liquida-bt-skin-bruna-tavares--p-1602794059926.jpg">
    </ion-thumbnail>
    <ion-label>Base</ion-label>
    <ion-badge color="danger">60,00</ion-badge>
  </ion-item>



  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://www.florenza.com.br/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/b/t/bt_batom_liquido_ligia.jpg">
    </ion-thumbnail>
    <ion-label>Batom</ion-label>
    <ion-badge color="danger">50,00</ion-badge>
  </ion-item>



  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://alerodriigues.files.wordpress.com/2020/12/bc64c46e-e59c-4128-a11f-6d0c741eb1f0.jpeg?w=1024">
    </ion-thumbnail>
    <ion-label>Bruma</ion-label>
    <ion-badge color="danger">55,00</ion-badge>
  </ion-item>


</ion-content>
